body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 50px;
}

.orange-color {
  color: orange;
}

section {
  display: flex;
}

.welcome-info {
  flex: 1;
}

.welcome-img {
  flex: 1;
  padding-left: 5%;
}

.welcome-img img {
  width: 100%;
}

.link-button {
  text-decoration: none;
  background-color: orange;
  padding: 10px 40px;
}